FontAwesomeIcon:hover {
    -fx-cursor: hand;
}

Button:hover {
    -fx-cursor: hand;
}

RadioButton:hover {
    -fx-cursor: hand;
}

DatePicker:hover {
    -fx-cursor: hand;
}

MenuButton:hover {
    -fx-cursor: hand;
}

CheckBox:hover {
    -fx-cursor: hand;
}

#optn:hover {
    -fx-cursor: hand;
}

LineChart{
    -fx-background-color: #d5d7da;
}

.menu-item .label {
    -fx-text-fill: #d5d7da;
}

.menu-item:focused {
     -fx-background-color: #2D3848;
}

.menu-item:focused .label {
    -fx-text-fill: #2aa3cc;
}

.context-menu {
    -fx-background-color: #2D3848;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}

.text-field.error {
    -fx-text-box-border:#ff5859;
    -fx-focus-color:#ff5859;
}
